{
  "presets": [
    "react",
    "es2015",
    "stage-3"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-function-bind",
    "transform-object-rest-spread",
    [
      "resolver",
      {
        "resolveDirs": ["sass", "src"]
      }
    ]
  ],
  "ignore": [
    "foo.js",
    "node_modules/**/*"
  ]
}
