
#article {
  overflow-x: hidden;

  .article {
    padding-top: $navbar-height;

    @include media-breakpoint-down(sm) {
      padding-top: $navbar-height-mobile;
    }

    .article-title {
      flex: 0 0 100%;
    }
  }

  .article-body {
    padding-top: 4rem;
    padding-bottom: $spacer-xl * 2;

    @include media-breakpoint-down(sm) {
      padding-top: $spacer-lg;
      padding-bottom: $spacer-xl;
    }
  }
  .article-inner {
    @include media-breakpoint-down(sm) {
      padding-top: $spacer-lg;
      padding-bottom: $spacer-lg;
    }
  }

  .article-body-top {
    margin-bottom: $spacer-lg;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }

  .article-body {
    max-width: 700px;

    @include media-breakpoint-down(xs) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
  .article-content {
    white-space: pre-line;
  }
}
