
@mixin link-variant($color, $hover-color) {
  color: $color;
  transition: color 0.3s ease-out;

  &:hover {
    color: $hover-color;
  }
}

.link-twitter {
  @include link-variant($twitter, darken($twitter, 25%));
}

.link-white {
  @include link-variant(white, $gray-lighter);
}
.link-light {
  @include link-variant($gray-medium, $gray-light);
}
.link-accent {
  @include link-variant($gray-medium, $teal);
}
.link-accent-light {
  @include link-variant($gray-light, $teal);
}
.link-accent-white {
  @include link-variant(white, $teal);
}
