
/**
 * HEADLINE SPECIFIC (Only present on home page)
 */
.headline-banner {
  background-color: $gray-lightest;
  flex: 0 1 75%;
  animation: FadeIn 1.2s ease-out;

  &:hover {
    .article-image {
      transform: scale(1.25);
    }
  }

  .headline-article {
    flex-basis: 75%;
    @include media-breakpoint-down(lg) {
      flex-basis: 100%;
    }
  }
  .article-inner {
    justify-content: center;

    @include media-breakpoint-up(xl) {
      padding: $spacer-xl;
    }
    @include media-breakpoint-down(lg) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .author {
    padding: 2rem;
    text-align: center;
    flex: 1 0 300px;
    border-bottom: #eee 2px solid;
    border-top: #eee 2px solid;

    .avatar {
      width: 120px;
      height: 120px;
    }
  }
}
.headline-article {
  color: white;
  justify-content: center;
  flex-basis: 100%;
}
.headline-user {
  background-color: $gray-lightest;
}

/**
 * ARTICLE BANNER (present on home page and article page)
 */

.article-banner {
  display: flex;
  min-height: 500px;

  @include media-breakpoint-down(sm) {
    min-height: auto;
  }

  > div {
    position: relative;
    overflow: hidden;
  }

  .article-inner {
    // 100% prevented by container but fill container max-width
    width: 100%;
    justify-content: center;

    @include media-breakpoint-down(xs) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
  .article-image {
    @extend .background-cover;
    transition: all 0.6s $sharp-ease-in-out;
  }
  .article-content {
    z-index: 1;
  }
  .article-title {
    flex: 1 0 0;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: normal;

    @include media-breakpoint-down(sm) {
      font-size: 2.8rem;
    }
    @include media-breakpoint-down(xs) {
      font-size: 2rem;
    }
  }
  .article-details {
    flex: 0 0 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 1rem;
  }
  .article-action {
    flex: 0 0 auto;
    margin-left: $spacer-lg;

    .btn {
      height: 80px;
    }

    // On small screens position below all content and center
    @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-top: $spacer-lg;
      flex-basis: 100%;
      order: 3;

      .btn {
        height: 60px;
      }
    }
  }
  .article-by, .article-date {
    margin-bottom: $spacer-md;
  }
  .article-by {
    color: lighten($gray-light, 15%);
    margin-right: 1rem;
  }
}



@include media-breakpoint-down(lg) {
  .headline-article {
    flex-basis: 100%;
  }
  .headline-banner .author {
    display: none;
  }
}
