
/**
 * MODAL TRANSITIONS
 */
.modal-enter,
.modal-leave.modal-leave-active {
  opacity: 0;

  .modal-content {
    transform: scale(0.7);
  }
}

.modal-leave,
.modal-enter.modal-enter-active {
  opacity: 1;

  .modal-content {
    transform: scale(1);
  }
}

.modal-enter.modal-enter-active,
.modal-leave.modal-leave-active {
  transition: opacity 0.5s ease;

  .modal-content {
    transition: opacity 0.5s ease, transform 0.4s ease-out;
  }
}

/**
 * FADE TRANSITION
 */
.logo-fade-enter {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}

.logo-fade-enter,
.logo-fade-leave.logo-fade-leave-active {
  opacity: 0;
}

.logo-fade-leave,
.logo-fade-enter.logo-fade-enter-active {
  opacity: 1;
}

.logo-fade-enter.logo-fade-enter-active,
.logo-fade-leave.logo-fade-leave-active {
  transition: opacity 0.4s ease;
}


/****************************/
/**  KEYFRAME TRANSITIONS  **/
/****************************/

 /**
  * Fade IN
  */
 @keyframes FadeIn {
   from  { opacity: 0; }
   to    { opacity: 1; }
 }
