
/**
 * MODAL TRANSITIONS
 */
.modal-enter,
.modal-leave.modal-leave-active {
  opacity: 0;

  .modal-content {
    transform: scale(0.7);
  }
}

.modal-leave,
.modal-enter.modal-enter-active {
  opacity: 1;

  .modal-content {
    transform: scale(1);
  }
}

.modal-enter.modal-enter-active,
.modal-leave.modal-leave-active {
  transition: opacity 0.5s ease;

  .modal-content {
    transition: opacity 0.5s ease, transform 0.4s ease-out;
  }
}

/**
 * HEADLINE ENTER TRANSITION
 */

 .headline-shrink-appear {
   opacity: 0;
   transform: scale(7.2);
 }

 .headline-shrink-appear.headline-shrink-appear-active {
   opacity: 1;
   transform: scale(5);
   transition: opacity 0.5s $sharp-ease-in-out, transform 0.4s $sharp-ease-in-out;
 }

/****************************/
/**  KEYFRAME TRANSITIONS  **/
/****************************/

 /**
  * Fade IN
  */
 @keyframes FadeIn {
   from  { opacity: 0; }
   to    { opacity: 1; }
 }
