
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body, html {
  font-family: 'Open sans', 'Helvetica', 'sans-serif';
}

.small-caps {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.strong {
  font-weight: bold;
}

.text-light {
  color: lighten($gray-light, 25%);
}
