@import './profile/profile';

#account-page {

  .account-header {
    padding-top: $navbar-height + 3rem;
    padding-bottom: 3rem;
    background-color: $gray-lightest;
    margin-bottom: 4rem;
  }
}
